* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 100px;
}

.card {
    width: calc(100% / 3 - 12px);
    position: relative;
    display: inline-block;
}

.card figure img {
    max-width: 100%;
}

.card figure img:nth-child(1) {
    position: absolute;
    z-index: 1;
}

.card figure img:nth-child(2) {
    position: relative;
}

.card:hover figure img:nth-child(1){
    display: none;
}

.card figcaption {
    letter-spacing: 1.2px;
}

figcaption > div {
    margin-bottom: 3px;
}

figcaption > div:nth-child(2) {
    font-weight: bold;
}

.red-text {
    color: red;
}

.line-text {
    text-decoration: line-through;
}

.preferiti {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 25px;
    z-index: 2;
    top: 20px;
    right: 0;
    text-align: center;
    padding: 6px;
}

.overlay {
    position: absolute;
    height: 20px;
    font-size: 15px;
    color: white;
    z-index: 2;
    bottom: 80px;
    text-align: center;
    padding: 2px;
}

.sconto {
    width: 40px;
    background-color: rgb(240, 64, 64);
    left: 0;
}

.badge {
    width: 85px;
    background-color: rgb(31, 162, 83);
    left: 43px;
}